<footer class="footer">
    <p id="footer-text">info@beerlyfunctional.com</p>

</footer>

<%- include('./popUp.ejs') %>

<script src="./js/map.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDh9_AotC3kqQzMhQdUxvryDoE02xgFLFw&callback=initMap"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>