<header>
    <img src="../../public/img/beer-taps-2631121_1920.jpg" alt="beer tap line background">
    <div>
        <img src="../../public/img/beerlyFunctional.jpg" alt="beerly functional logo">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search-results">Search Results</a></li>
        <li><a href="/brewtails">Brewtails</a></li>
        <li><a href="/shelf">Shelf</a></li>
    </ul>
</header>