<header class="header">
    <!-- <img src="/img/beer-taps-2631121_1920.jpg" alt="beer tap line background"> -->
   
        <img class="logo" src="/img/beerlyFunctional.jpg" alt="beerly functional logo">
   
    <!-- <ul class="dropdown-content">
        <li><a href="/">Home</a></li>
        <li><a href="/search-results">Search Results</a></li>
        <li><a href="/brewtails">Brewtails</a></li>
        <li><a href="/shelf">Shelf</a></li>
    </ul> -->
    <!-- <span class="">
        <!-- <img class="menu" src="/img/noun_Hops_1017735_000000.png" alt="hop menu"> -->
    <!-- </span> --> 
</header>