
<header class="header">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>

    <div class="flex">  
        <!-- navigation logo -->
        <img class="logo" src="/img/beerlyFunctional.jpg" alt="beerly functional logo">

        <!-- navigation  -->
        <nav id="nav">
            <img class="menu" id="menu-icon" src="/img/noun_Hops_1017735_000000.png" alt="hop menu">
            <img id="ex" class="nav-list" src="/img/noun_Exit_1267862_1A1A1A.png" alt="an X, for closing the navigation menu" style="display: none">

            <!-- navigation list dropdown menu -->
            <ul class="nav-list" style="display: none">
                <li class="nav-list" style="display: none"><a href="/" class="current">Home</a></li>
                <li class="nav-list" style="display: none"><a href="/about" class="current">About</a></li>
                <li class="nav-list" style="display: none"><a href="/breweryDetails">Details</a></li>
            </ul>

            <!-- hide and show the options -->
            <script> 
                function hideTheNav() {
                    document.getElementById("#nav").classList.toggle("show");
                    }
                
                    $('#menu-icon').on('click', function() {
                    $(".nav-list").attr("style", "display: flex; flex-direction: column")
                    });

                    $('#ex').on('click', function(){
                        $(".nav-list").attr("style", "display: none")
                })
            </script>
        </nav>
    </div>
</header>