<section class="beer-result container">
        <ul id=beerObject>
            <li class="beer-view" data-id="<%= body.data.name %>">
            <% beers.forEach(beer => { %>
                <h4>Name: <%= body.data.name %></h4>
                <p> Style: <%= body.data.style.name %></p>
                <img src= "<% ../../../../public/img/alcohol-alcoholic-beer-1161466.jpg %>">
                <p> ABV: <%= body.data.abv %> </p>
           <% }) %>
            </li>
        </ul>
    </section>
