<%=<input type="checkbox">Gluten Free?</input>%>
<%=<textarea placeholder="Tasting Notes" rows="4" cols="50"></textarea>%>
<button type="submit" onclick="saveTasting()">Save Tasting Notes</button>
<button type="submit"><%= formAction === 'create' ? 'Add this Tasting Note' :'Update this Tasting Note' %></button>



<!-- TODO:Is this pushing the checked GF box back? -->
