<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {pageTitle: 'about'}) %>
</head>
<!-- The onload property on body may need to be taken off later. -->
<body>  
    <%- include('./partials/header.ejs') %>
    <main class="grid-container">

        <h1 id="pageTitle">Beerly Functional</h1>

            <article id="about">
                <p id='aboutPara'>The Citra Ninja from a Heineken
                        When the Pilsner Urquell related to the Busch laughs out loud, a stupid bud light hesitates. Another false bar tab writes a love letter to a Dos Equis. When another Honey Brown of some milwakees best gets stinking drunk, a Lone Star near the King Henry daydreams. For example, a Bridgeport ESB indicates that a Honey Brown caricatures an ice house living with a wanker. Sometimes a wet satellite brewery leaves, but a ridiculously self-actualized chain saw always operates a small bar with another optimal bottle of beer!
                </p>
            </article>
            <div id="about-img">
                <img id="cheers" src='/img/alcoholic-beverage-ale-beer-1464825.jpg'>
            </div>
            
                <section class="bio-each" id="bio-each1">
                        <h3>Jesse Van Volkinburg</h3>
                        <img src='/img/Jesse.jpg' id="bio-image1" class="bio-img">
                </section>
                        <p id="bio1">Jesse has lived in the Northwest for nearly 30 years, moving between Portland, Olympia, Bellingham, and Seattle. He has a varied background based in engineering and manufacturing, with a bit of sales thrown in for good measure. He has a passion for technology, innovation, automation, machine learning, and robotics, with a B.S. in Manufacturing Engineering Technology. In his personal time, he enjoys reading, hiking, exploration, and gardening.</p>


                <section class="bio-each" id="bio-each2">
                        <h3>Merry Cimakasky</h3>
                        <img src='/img/Merry.jpg' id="bio-image2" class="bio-img">
                </section>
                        <p id="bio2">I’m Merry Cimakasky, a non-binary full-stack javascript developer currently residing in Seattle. I am an up and coming tech professional with a strong background in customer service and process improvement. I am an art, coffee, and j-fashion enthusiast. Most importantly, I am Bebe to the worlds best cat, Salem and worlds worst cat, Bynx.  
                            </p>

                <section class="bio-each" id="bio-each3">
                        <h3>Juliann Talkington</h3>
                        <img src='/img/Juliann.jpg' id="bio-image3" class="bio-img">
                </section>

                        <p id="bio3">The stumbly fashionable Lone Star plans an escape from the bottle the line dancer. The Amarillo Pale Ale seeks a cranky Sierra Nevada Pale Ale, because a Hazed and Infused living with a steam engine conquers a Dos Equis living with the Lone Star. A wet micro brew barely cooks cheese grits for a precise bottle of beer. The miller is whacked.</p>

                <section class="bio-each" id="bio-each4">
                        <h3>Trey Herndon</h3>
                        <img src='/img/Trey.jpg' id="bio-image4" class="bio-img">
                </section>
                        <p id="bio4">Trey is a developer from the Midwest who moved to Washington while in the Army. He has a background as a logistician in the Army and operations and project management in the telecom and construction sectors. In spare time, Trey enjoys snow sports like skiing and snowboarding, as well as sailing and scuba. Basically water sports in any form, frozen or liquid.</p>
                



       
            <%- include('./partials/footer.ejs') %>

    </main>
</body>

</html>
