<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') -%>

    <!-- Need to render the information from each brewery in here. Not too sure what we have path wise and what we are currently pulling. -->

    <%- include('./partials/footer.ejs') -%>
</body>
</html>