<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {pageTitle: pageTitle}) %>
</head>

<body class="grid-container">
    <%- include('./partials/header.ejs') %>

<main class="search-section"> 
    <%- include('./partials/search.ejs') %>
</main>

    <%- include('./partials/footer.ejs') %>
  
</body>
</html>