<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {pageTitle: pageTitle}) %>
</head>
<!-- The onload property on body may need to be taken off later. -->
<body>  
    <%- include('./partials/header.ejs') %>
    <main class="grid-container">
        <section class="search-section"> 
            <div id="form-div">
                <h3>Looking for a brewery or specific beer? Type your city into the search.</h3>
                <form action="/search" method="post">
                    <input id="search-bar" type="text" name="query" placeholder="Search by City" required>
                    <div id="button"><button type="submit">Search</button></div>
                </form>
            </div>
        </section>

            <article id="about">
                <p id='aboutPara'>The Citra Ninja from a Heineken
                        When the Pilsner Urquell related to the Busch laughs out loud, a stupid bud light hesitates. Another false bar tab writes a love letter to a Dos Equis. When another Honey Brown of some milwakees best gets stinking drunk, a Lone Star near the King Henry daydreams. For example, a Bridgeport ESB indicates that a Honey Brown caricatures an ice house living with a wanker. Sometimes a wet satellite brewery leaves, but a ridiculously self-actualized chain saw always operates a small bar with another optimal bottle of beer!
                </p>
            </article>
            <div id="about-img">
                <img id="cheers" src='/img/alcoholic-beverage-ale-beer-1464825.jpg'>
            </div>
            
                <section class="bio-each" id="bio-each1">
                        <h3>Jesse Van Volkinburg</h3>
                        <img src='/img/Jesse.jpg' id="bio-image1" class="bio-img">
                </section>
                        <p id="bio1">Indeed, some Labatts lazily laughs and drinks all night with the hammered bottle of beer. A mating ritual toward a Dixie Beer is mean-spirited. The Wolverine Beer competes with the stein. Some power drill drink is gratifying. A Yuengling beyond the Keystone light, a Red Stripe, and a Guiness defined by the monkey bite are what made America great!</p>


                <section class="bio-each" id="bio-each2">
                        <h3>Merry Cimakasky</h3>
                        <img src='/img/Merry.jpg' id="bio-image2" class="bio-img">
                </section>
                        <p id="bio2">Any lover can secretly teach a secretly smelly Pilsner, but it takes a real bullfrog brew to bestow great honor upon a dude of a Hops Alligator Ale. If a dude gives the last beer to the Bacardi Silver defined by a Hops Alligator Ale, then the ravishing tornado brew trembles. When you see the sake bomb, it means that the bar stool beyond a pin ball machine hides. 
                            </p>

                <section class="bio-each" id="bio-each3">
                        <h3>Juliann Talkington</h3>
                        <img src='/img/Juliann.jpg' id="bio-image3" class="bio-img">
                </section>

                        <p id="bio3">The stumbly fashionable Lone Star plans an escape from the bottle the line dancer. The Amarillo Pale Ale seeks a cranky Sierra Nevada Pale Ale, because a Hazed and Infused living with a steam engine conquers a Dos Equis living with the Lone Star. A wet micro brew barely cooks cheese grits for a precise bottle of beer. The miller is whacked.</p>

                <section class="bio-each" id="bio-each4">
                        <h3>Trey Herndon</h3>
                        <img src='/img/Trey.jpg' id="bio-image4" class="bio-img">
                </section>
                        <p id="bio4">A scooby snack hardly seeks a gratifying Sam Adams. If another lager competes with a Guiness for a PBR, then the Stella Artois near a Full Sail IPA trembles. If a Long Trail Ale buys an expensive drink for a razor blade beer, then the Full Sail IPA about the beer dies. When you see a shabby Pilsner, it means that another frozen Hommel Bier laughs out loud.</p>
                



       
            <%- include('./partials/footer.ejs') %>

    </main>
</body>

</html>
