<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {pageTitle: pageTitle}) %>
</head>

<body>
    <%- include('./partials/header') %>

    <%- include('./partials/search') %>

    <%- include('./partials/footer') %>
</body>
</html>