<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {pageTitle: 'pageTitle'}) %>
</head>
<body>
    

    <div id="beer-container">
        <div id="beer-map"></div>
        <div id="content"><a href="https://www.codefellows.org/">Wonder Beer</a></div>
    </div>
    <%= breweries %>
    <%- include('./partials/footer.ejs') -%>
</body>

</html>