<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs', {pageTitle: 'pageTitle'}) %>
</head>
<body>
    

    <div id="beer-container">
        <div id="beer-map"></div>
        <div id="content"></div>
    </div>
  
    <%- include('./partials/footer.ejs') -%>
</body>

</html>