<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') -%>

    <div id="beer-container">
        <div id="beer-map"></div>
        <div id="content"><a href="https://www.codefellows.org/">Wonder Beer</a></div>
    </div>
  
    <%- include('./partials/footer.ejs') -%>
</body>

</html>