<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- std head content; css, icon and meta links; page ttl -->
            <%- include('./partials/head.ejs', {pageTitle: 'about'}) %>
    </head>
    <body>
        <!-- std head content; css, icon and meta links; page ttl -->
        <%- include('./partials/header.ejs') -%>

        <!-- javascript, jquery, google maps scripts and age popup -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>