/* base is max-width 640 */

.grid-container{
  width: 100vw;
  height: 100vh; 
  margin: 0px auto;
  display: grid; 
  grid-template-rows: [header] 20vh [body] auto [footer] 10vh;
  grid-template-columns: [first] 3vw [second] 20vw [third] auto [fourth] 20vw [end] 3vw;
  grid-template-areas: 
  "header header header header header"
  ". main main main ."
  "footer footer footer footer footer"
}

.header{
  grid-area: header;
  background-size: cover;
  background-image: url('/img/beer-taps-2631121_1920.jpg');
  justify-content: space-between;
}

.logo{
  border: 1px solid;
  grid-area: header [first] [seccond];
  height: 20vh;
}
.menu{
      grid-area: header;
      margin-left: 80vw;
      height: 20vh;
      background-color: transparent;
    }

.search-section{
  grid-area: main; 
}

.footer{
  grid-area: footer;
}


/* @media screen and (min-width: 421px){

}

@media screen and (min-width: 641px){

} */