/* base is max-width 640 */

.grid-container{
  width: 100vw;
  height: 100vh; 
  margin: 0px auto;
  display: grid; 
  grid-template-rows: [header] 15vh [body] auto [body2] auto [body3] auto [body4] auto [footer] 15vh;
  grid-template-columns: [first] 3vw [second] 20vw [third] auto [fourth] 20vw [end] 3vw;
  grid-template-areas: 
  "header header header header header"
  ". main main main ."
  "section section section section section"
  "footer footer footer footer footer"
}

.flex{
  width: 100vw; 
  height: 20vh; 
  display: inline-flex;
  justify-content: space-between;
  background-color: transparent; 
}

.header{
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: absolute;
  grid-area: header;
  background-image: url('/img/beer-taps-2631121_1920.jpg');
}


.logo{
  height: 15vh;
}

.search-section{
  grid-area: main; 
  background-color: transparent;
}

form{
  margin:auto; 
  width: 50vw;
  padding: 2vw; 
  background-color: rgb(160, 128, 92);
  
}

#about{
  grid-area: section;
  display: inline-flex;
  justify-content: space-between;
  background-color: transparent;

}
#cheers{
  height: 30vw;
}

.footer{
  background-size: cover;
  grid-area: footer;
  background-image: url('/img/beer-taps-2631121_1920.jpg');
  padding: auto; 
}

#menu-icon{
  display: hidden;
  height: 15vh;
  background-color: transparent;
}



/* @media screen and (min-width: 421px){

} */

/* @media screen and (min-width: 641px){

} */