/* base is max-width 640 */

/* search form styling */

fieldset{
  background-color: rgb(160, 128, 92);
  display: flex; 
}
input#search-bar{
  background-color: rgb(255, 255, 255);
  width: 100%;
}

#form-div{
  background-color: transparent; 
  
}

label, span{
  flex-direction: row-reverse;
  background-color: rgb(160, 128, 92);
}
#button{
  width: 60%; 
  margin: auto;
}
button{
  width: 100%;
  background-color: rgb(255,255,255); 
}
#footer-text{
  
  background-color: transparent; 
  color: rgb(33, 88, 118);
}
/*  nav menu */

#nav{
  background-color: transparent;
}

li, a {
  width: 7vw;
  margin: .5vw;
  background-color: rgb(160, 128, 92);
}

ul{
  background-color: rgb(160, 128, 92);
}

#ex{
  flex-direction: row-reverse;
  height: 1vw; 
}

/* @media screen and (min-width: 421px){ */

/* } */
  
/* @media screen and (min-width: 641px){
  
  
} */