<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {pageTitle: Beer Details}) %>
</head>
<body>
  <%- include('../partials/header') %>

  <h1></h1>

  <%- include('../partials/footer') %>
</body>
</html>