<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {pageTitle: 'Beer Details'}) %>
</head>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/beerDisplay') %>
  <%- include('../partials/footer') %>
</body>
</html>